#header {
  background-size: cover;
  background-position-y: 40%;
  color: white;
  background-color: grey;
  position: relative !important;
}

#header h1 {
  font-size: 400%;
  text-align: center;
  background-clip: text;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

#search-city {
  width: 75%;
}

#search-button-icon {
  width: 15px;
  display: inline-block;
}

#current-weather {
  padding-left: 15px;
}

.weather-card {
  width: 9rem;
  background-color: #0275d8;
  color: white;
  text-align: center;
}
